@tailwind base;
@tailwind components;
@tailwind utilities;

.app-wraper{
    height:100vh;
    background-color: rgb(243, 243, 243);
}

.app-content{
    flex:1;
    overflow-y: scroll;
}

.app-container{
    height: calc(100vh - 4.5rem);
    max-height: calc(100vh - 4.5rem);
    display:flex;
    flex-direction: column;
}

.login-container{
    background-image: url('./assets/images/hamburg-6849995_960_720.jpg');
    background-size: 100% 100%;
}

.missing{
    background-image: url('./assets/images/404.png');
    background-size: 100% 100%;
}

h1,h2,h3,h4,h5,h6{
    color:rgb(80, 79, 79);
}

p{
    color:rgb(107, 107, 107);
}
img{
    width:100%;
    height:100%;
}





.column{
    flex-direction: column;
}


@media screen and (max-width:750px) {
    .navbar{
        height:4rem;
        min-height:4rem;
    }
    .bottom-nav{
        height:4rem;
        min-height:4rem;
    }

    .inner-layout{
        display:flex;
        flex-direction: column;
    }
    .inner-layout .app-content{
        height: auto;
        flex:1;
        overflow-y: scroll;
    }
}